# Local files
local/

# Node modules
node_modules/

# Distribution files
dist/
dist-firefox/

# Outputs
outputs/

# Jest cache
.jest_cache/

# Test results
test-results/

# Claude
.claude/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
